<h1>Pages#contact</h1>

<p><%= number_to_phone "3646458539" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "30.9" %></p>

<p><%= number_with_delimiter "23637448473747447559" %></p>
