<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I hope you enjoy my website,
   browse through my portfolio and blog to learn more about me.
  </p>
   <br>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
